<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pagetitle %></title>
    <link rel="stylesheet" href="/two.css">
</head>
<body>

  <header id="home-add-header">
    <p id="Home-registration">Register Your Home Here</p>
    </header>

    <main id="registration-form">
    <form action="add-home" method="post">
      <input type="text" name="HomeName" placeholder="Enter Your Home Name Here"><br></br>
      <input id="submit-form" type="submit" value="Submit">
      </form>
      </main>

</body>
</html>