<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pagetitle %></title>
  <link rel="stylesheet" href="/one.css">
</head>
<body>

  <header>
   <a href="/"> Go to Home Page</a>
   </header>

   <main>
     <p id="registration-done-message">Home Registered Successfully!</p>
    </main>

</body>
</html>